.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid black;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.form {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 0.875rem;
}

.success {
  color: green;
  font-size: 0.875rem;
}