

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}

.buttonContainer .button {
  display: block;
  width: 100%;
  margin-bottom: 0; 
  padding: 12px;
  cursor: pointer;
}


.buttonContainer .button + .button {
  margin-top: 20px;
}
.button:hover {
  background-color: #e0e0e0;
}



.input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    gap: 20px;
}





.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid black;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.form {
  display: flex;
  flex-direction: column;
}

.caption {
    font-size: 14px;
    color: black;
    margin-top: 2px;
}

.error {
  color: red;
  font-size: 0.875rem;
}

.success {
  color: green;
  font-size: 0.875rem;
}